*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
  list-style: none;
  quotes: none;
}